<configuration>
    <!-- Define a pattern for logging output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="REQUEST" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>request.log</file>-->
<!--        <encoder>-->
<!--            <pattern>%msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="REQUEST_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %-5level -%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Only log ERROR level messages for Tomcat -->
    <logger name="org.apache.coyote" level="ERROR"/>
    <logger name="org.apache.catalina" level="ERROR"/>
    <logger name="org.apache.jasper" level="ERROR"/>

    <!-- Root logger - Adjust this if you want to set a global logging level -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.shubham.RequestLogger" level="info" additivity="false">
        <appender-ref ref="REQUEST_STDOUT"/>
    </logger>
</configuration>
